<div *ngIf="user">
  <div class="img-box">
    <img [src]="user.image" />
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    <div class="buttons">
      <button mat-raised-button color="primary">
        <mat-icon>share</mat-icon> Share
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>print</mat-icon> Print
      </button>
    </div>
  </div>
  <mat-card>
    <div class="columns">
      <div>
        <h4>Adresse</h4>
        {{ user.firstName }} {{ user.lastName }}<br />
        {{ user.address }}<br />
        {{ user.zip }} {{ user.city }}
      </div>
      <div>
        <h4>Kontakt</h4>
        {{ user.phone }}<br />
        <a [href]="'mailto:' + user.email">{{ user.email }}</a>
      </div>
      <div class="tags">
        <h4>Interessen</h4>
        <mat-chip-list>
          <mat-chip *ngFor="let interest of user.interests">{{ interest }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
  <button class="back" routerLink="/" mat-raised-button color="primary"><mat-icon>arrow_left</mat-icon> Zurück zur Liste</button>
</div>
