<div *ngIf="data$ | async; let data">

  <div class="img-box">
    <img [src]="data.image" />
    <h1>{{ data.firstName }} {{ data.lastName }}</h1>
    <div class="buttons">
      <button mat-raised-button color="primary">
        <mat-icon>share</mat-icon> Share
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>print</mat-icon> Print
      </button>
    </div>
  </div>
  <mat-card>
    <div class="columns">
      <div>
        <h4>Adresse</h4>
        {{ data.firstName }} {{ data.lastName }}<br />
        {{ data.address }}<br />
        {{ data.zip }} {{ data.city }}
      </div>
      <div>
        <h4>Kontakt</h4>
        {{ data.phone }}<br />
        <a [href]="'mailto:' + data.email">{{ data.email }}</a>
      </div>
      <div class="tags">
        <h4>Interessen</h4>
        <mat-chip-list>
          <mat-chip *ngFor="let interest of data.interests">{{ interest }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
  <button class="back" routerLink="/" mat-raised-button color="primary"><mat-icon>arrow_left</mat-icon> Zurück zur Liste</button>
</div>
