@import 'material';
@import 'variables';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $color-bg;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
